#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: "Pokemon";
  font-size: 24px;
  background-color: pink;
  color: #333;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 15px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
  overflow: visible;
  flex: 1 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .content {
    margin: 0 auto;
  }
}
