.pokemon-details {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.pokemon-details__title {
  font-size: 3rem;
  text-transform: capitalize;
  padding: 1rem 0 1rem 0;
  text-align: center;
}

.pokemon-details__content {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.pokemon-details__image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.pokemon-details__image {
  max-width: 450px;
  width: 100%;
  height: auto;
}

.pokemon-details__info {
  flex: 2;
  min-width: 300px;
  max-width: 600px;
}

.pokemon-details__content-table {
  width: 75%;
  border-collapse: collapse;
}

.pokemon-details__content-table td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #333;
  font-size: 2rem;
}

.pokemon-details__content-table td:first-child {
  width: 140px;
  color: #333;
  border-right: 1px solid #333;
}

.pokemon-details__abilities {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pokemon-details__subtitle {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  width: 140px;
  padding: 0.75rem 1rem;
}

.pokemon-details__abilities-list {
  list-style-type: disc;
  color: #333;
}

.pokemon-details__abilities-list li {
  margin-bottom: 0.3rem;
  text-transform: capitalize;
}
