.pokemon-details {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.pokemon-details__title {
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  text-align: center;
}

.pokemon-details__content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemon-details__image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.pokemon-details__image {
  max-width: 450px;
  width: 100%;
  height: auto;
}

.pokemon-details__info {
  flex: 2;
  min-width: 300px;
}

.pokemon-details__content-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #333;
}

.pokemon-details__content-table td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #333;
  font-size: 1rem;
}

.pokemon-details__content-table td:first-child {
  font-weight: bold;
  width: 140px;
  color: #333;
}

.pokemon-details__abilities {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border: 1px solid #333;
}

.pokemon-details__subtitle {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.pokemon-details__abilities-list {
  list-style-type: disc;
  padding-left: 1.5rem;
  color: #333;
}

.pokemon-details__abilities-list li {
  margin-bottom: 0.3rem;
  text-transform: capitalize;
}
