.nav__title {
  font-size: 36px;
  line-height: 50px;
  margin: 0;
}

.nav__gen-list {
  display: flex;
  column-gap: 50px;
  list-style-type: none;
  font-weight: 500;
  font-size: 30px;
  line-height: 20px;
}

.nav__gen-list button {
  background-color: #f3a683;
  color: #333;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav__link {
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #2f80ed;
  text-decoration: underline;
  font-weight: bold;
}
