.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 75px;
}

.header__home {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.header__home:hover {
  transform: scale(1.1);
  filter: brightness(2.1) drop-shadow(0 0 6px rgba(255, 255, 255, 0.4));
}

.header__logo {
  width: 450px;
  height: 75px;
  object-fit: contain;
  cursor: pointer;

  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 0;

  transition: transform 0.3s ease, filter 0.3s ease;
}

.header__logo:hover {
  transform: translate(-50%) scale(1.05);
  filter: brightness(1.1) drop-shadow(0 0 6px rgba(255, 255, 255, 0.4));
}

.header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.header__social {
  display: flex;
  column-gap: 30px;
  list-style-type: none;
  padding: 0;
}

.header__social-icon {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

/*------- Consulta midia TABLET -------*/
@media screen and (max-width: 1024px) {
  .header__logo {
    margin: 28px 0 32px;
    padding: 0 6%;
  }
}

/*------- Consulta midia MOBILE -------*/
@media screen and (max-width: 650px) {
  .header__logo {
    margin: 28px 0 32px;
    padding: 0 27px;
    width: 126px;
    height: 27px;
  }
}
