.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px 0 30px;
  padding: 0 15px;
}

.header__home {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.header__home:hover {
  transform: scale(1.1);
  filter: brightness(2.1) drop-shadow(0 0 6px rgba(255, 255, 255, 0.4));
}

.header__logo {
  width: 450px;
  height: 75px;
  object-fit: contain;
  cursor: pointer;

  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 0;

  transition: transform 0.3s ease, filter 0.3s ease;
}

.header__logo:hover {
  transform: translate(-50%) scale(1.05);
  filter: brightness(1.1) drop-shadow(0 0 6px rgba(255, 255, 255, 0.4));
}

.header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.header__social {
  display: flex;
  column-gap: 15px;
  list-style-type: none;
  padding: 0;
}

.header__social-icon {
  width: 36px;
  height: 36px;
}

/*------- Consulta midia TABLET -------*/
@media screen and (max-width: 1100px) {
  .header {
    position: relative;
    padding-bottom: 70px;
    margin: 50px 15px 15px;
  }

  .header__social-icon {
    width: 36px;
    height: 36px;
  }
}

/*------- Consulta midia MOBILE -------*/
@media screen and (max-width: 544px) {
  .header {
    margin: 40px 25px 10px;
  }

  .header__social-icon {
    width: 36px;
    height: 36px;
  }
}

@media screen and (max-width: 475px) {
  .header__logo {
    width: 350px;
    height: 60px;

    position: absolute;
    left: 25%;
    transform: translate(-50%);
    margin: 0;
  }
  .header {
    margin: 30px 0 10px 15px;
    padding-right: 0;
  }
  .header__home {
    opacity: 0;
  }

  .header__social {
    margin: 10px 0;
  }
}
