.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000;

  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
}

.footer__social {
  display: flex;
  column-gap: 30px;
  list-style-type: none;
  margin-left: auto;
}

.footer__social-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/*------- Consulta midia TABLET -------*/

@media screen and (max-width: 1024px) {
  .footer {
    padding: 0 7%;
    margin: 0;
  }
}

/*------- Consulta midia MOBILE -------*/

@media screen and (max-width: 544px) {
  .footer {
    padding: 0 7%;
    margin: 0;
  }

  .footer__copyright {
    margin: 50px auto 36px;
    font-size: 14px;
    line-height: 1;
  }
}
