@import url(./vendor/fonts.css);

@import url(./components/App/App.css);
@import url(./components/Header/Header.css);
@import url(./components/Navigation/NavBar.css);
@import url(./components/SearchForm/SearchForm.css);
@import url(./components//Main/Main.css);
@import url(./components/Footer/Footer.css);

body {
  margin: 0;
  padding: 0;
  font-family: "Pokemon";
  font-size: 24px;
  background-color: pink;
  color: azure;
}
